{# prompt_templates/classifier.j2 #}
[INST] <<SYS>>You're a {{ category }} classifier. Based on the following categories, given a query, you will decide which {{ category }} fits it best.
These are the categories:

{%- for cat in categories %}
- {{ cat }}

{%- endfor %}
<</SYS>>
{%- for shot in few_shots %}
{{ shot.prompt }}[/INST]
{{ shot.response }}
</s><s>[INST]
{%- endfor %}
{{ query }}[/INST]